@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}
/* ===========================================CABEÇALHO====================================== */
header {
  background-color: #0b0b0d;
  width: 100%;
  padding: min(2vw, 7vw);
  display: flex;
  align-items: center;
  justify-content: space-around;

}
header img {
  width: 8rem;
}
header h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}
.ocultar-mobile {
  display: flex;
}
header ul {
  display: flex;
  gap: 30px;
}
header a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
}

/* ===========================================FUNCIONA TANTO NO CABEÇALHO COMO NO RODAPÉ =========================================== */
ul li {
position: relative;
padding: 10px 0;
cursor: pointer;
transition: color 0.3s;
}

/* Linha oculta inicialmente */
ul li a::after {
content: "";
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: 3px;
background-color: #6bb39b; /* Cor da linha */
transform: scaleX(0); /* Oculta a linha inicialmente */
transform-origin: bottom right; /* Origem da animação */
transition: transform 0.3s; /* Animação suave */
}

/* Define a animação ao passar o mouse */
ul li a:hover::after {
transform: scaleX(1); /* Expande a linha da direita para a esquerda */
transform-origin: bottom left;
}


/* Botão de Cadastre-se */
header button{
color: white;
position: relative;
background-color: rgba(0, 0, 0, 0);
border: none;
cursor: pointer;
transition: color 0.3s;
border-radius: 10px;
width: 7vw;
height: 5vh;
margin-left: 30px;
}

header button::after{
content: "";
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: 3px;
background-color: white; 
transform: scaleX(0); 
transform-origin: bottom right; 
transition: transform 0.8s; 
}

header button:hover::after{
transform: scaleX(1); 
transform-origin: bottom left;
}
/* final do botão */




/* HAMBURGER DO MOBILE */
/* =====================================CAIXA MOBILE===================================== */
.mobile-menu { /*Estilização da caixa Mobile quando aberta*/
  display: none; /*Display: Nenhum*/
  position: fixed; /*Posição fixa na parte direita da página*/
  top: 0; /*Superior em 0 fazendo a caixa encostar ao topo*/
  right: 0; /*Direita em 0 fazendo a caixa encostar a direita*/
  width: 60%; /*Largura em porcentagem da caixa*/
  height: 100%; /*Altura de 100% da tela*/
  background-color: #0b0b0d; /*Cor de fundo*/
  flex-direction: column; /*direção dos itens dentro da caixa */
  align-items: center; /*Alinhamento na vertical do itens*/
  font-size: 1.8rem; /*tamanho da letra dentro da caixa*/
}

.nav-links-mobile { /*Lista não ordenada da versão mobile*/
  display: flex; /*Tornando os itens (LISTAS) flexíveis*/
  flex-direction: column; /*Estamos direcionando o posicionamento dessas listas*/
  text-align: center; /*Alinhando o texto ao centro*/
  gap: 1.2rem; /*Espaço entre as listas */
  list-style: none; /*Estilo de lista desabilitado*/
}

.nav-links-mobile li { /*listas da versão Mobile*/
  border-bottom: 1px solid #787272; /*Bordar inferior de cada lista*/
  padding-bottom: 1.2rem; /*Tamanho da borda*/
}


.hamburger,
.close {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}


.close {
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  align-self: end;
}


.flex {
  display: flex;
}
/* ========================================= Fim do Header ============================================ */

/* ======================================== Início da Section 01 =======================================*/

.section01 {
  background: linear-gradient(180deg,#85e6bfb7, #f7f4e8b6);
  display: flex;
  justify-content: center;
  text-align: center;

}
.content {
  width: 80vw;
  height: 80vh;
  flex-wrap: wrap;
  padding: 20px;
}
.content h1 {
  padding: 2.5rem;
  font-size: 4rem;
}

/*Estilizando o parágrafo*/
.content p {
  font-size: 1.8rem; /*Tamanho da fonte*/
  font-weight: 400; /*Peso da fonte*/
}

.content span {
  font-weight: 800;
  color:  rgb(0, 94, 122);
}


/* ======================================== Fim da Section 01 ==========================================*/

/* ======================================== Início da Section 02 =======================================*/

.section02 {
  background:linear-gradient(180deg, #f7f4e8b6, #85e6bfb7);
  padding: 6rem;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
}

.caixas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 4rem;
  margin-top: -2rem;
}

/*Estilizando as caixas*/
.caixa01 {
  background-color: rgba(132, 173, 173, 0.356); /*Cor de fundo*/
  border-radius: 12px; /*Borda da caixa*/
  box-shadow: 0px 6px 0px;
  width: 20vw; /*Largura da caixa*/
  height: 65vh; /*Altura da caixa*/
  padding: 20px; /*Respiro da caixa*/
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.caixa01 i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
/*Aplicando o hover*/
.caixa01:hover {
  transition: 0.5s; /*Tempo de transição*/
  transform: scale(1.04, 1.04); /*Escala de movimentação dos eixos X e Y*/
  box-shadow: none;
}

/*Estilizando o parágrafo*/
.caixa01 p {
  font-size: 1.3rem; /*Tamanho da fonte*/
  font-weight: 400; /*Peso da fonte*/
}

.caixa01 h3 {
  font-size: 2rem; /*Peso da fonte*/
}

/* ======================================== Fim da Section 02 ==========================================*/

/* ===========================================RODAPÉ====================================== */
footer {
  background-color: #0b0b0d;
  padding: 3vw;
  text-align: center;
}
.rodape-pai {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3vh;
}
.rodape-pai h2 {
  color: #85e6c0;
  font-size: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
}
.rodape-pai a {
  color: white;
}
.rodape-pai p {
  color: white;
}

#whatsapp,
#instagram,
#telegram,
#facebook {
  font-size: 2rem;
  margin: 0px 3px;
  cursor: pointer;
  transition: 0.6s;
}
#whatsapp {
  color: greenyellow;
}
#instagram {
  background: linear-gradient(150deg, rgb(141, 2, 255),rgb(213, 2, 255), rgb(255, 238, 2));
  background-clip: text;
  color: transparent;
}
#telegram {
  color: rgb(0, 204, 255);
}
#facebook {
  color: rgb(0, 81, 255);
}

footer h3 {
  color: yellow;
  font-size: 25px;
  margin-top: 2vh;
}











@media (max-width : 980px) {
  /* ===========================================CABEÇALHO MOBILE====================================== */
  header {
      flex-direction: row;
  }
  header img{
      width: 6rem;
      margin: 0px auto;
  }
  header h1{
      font-size: 50px;
      margin: 0px auto;
  }
  
  /* ===========================================MOBILE MENU====================================== */
  .ocultar-mobile{ 
      display: none;
      margin: 0px auto;
  }

  .nav-links {
      display: none;
  }
  
    .hamburger {
      display: block;
      margin: 0px auto;
  }
  
  .mobile-menu {
      z-index: 999;
  }
  
  #btn-header {
     display: none;
  }
  
  
  .cad-mobile button {
      width: 14rem;
      height: 4rem;
      border-radius: 5px;
      background-color: #f8f4f46c;
      color: #000000;
  }
  
  .cad-mobile button a {
      text-decoration: none;
      color: white;
  
  }

}






@media (max-width : 880px) {
 

  .box-inform {
      width: auto;
      height: auto;
  }

  /* TAMANHO DAS DIV COM IMAGEM */
  .box-img {
      width: 80vw;
  }

  .botao button{
      width: 15rem;
      font-size: 20px;
  }

  /* MODIFICAÇÃO DO BOTÃO */
  .plano button{
      width: 15rem;
      font-size: 20px;
  }


  
}

/* ===========================================MOBILE====================================== */
@media (max-width : 840px) {
  /* ===========================================CABEÇALHO MOBILE====================================== */
  
  header img{
      width: 4rem;
      margin: 0px auto;
  }
  header h1{
      font-size: 33px;
      margin: 0px auto;
  }

}