@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* estiização geral, aplica para todos os elementos da página */
* {
    margin: 0;
    /* remove a margem padrão */
    padding: 0;
    /* remove o preenchimento padrão dos elementos */
    box-sizing: border-box;
    /* define o tamanho elemento, evitando que o conteúdo ultrapasse os limites de um elemento */
    font-family: "Raleway", sans-serif;
    /* define a fonte padrão do site */
}

 body {
    font-family: "Raleway", sans-serif;
    /* define a fonte */
    background-color: #f4f4f9;
    /* define a cor de fundo */
    color: #333;
    /* define  cor do texto */
    padding: 20px;
    /* adiciona um espaçamento interno em torno do conteúdo da página */
    display: flex;
    /* facilita o alinhamento dos elementos */
    justify-content: center;
    /* alinha os elementos horizontalmente ao centro */
    align-items: center;
    /* alinha os elementos verticalmente ao centro */
    height: 100vh;
    /* define que a altura do corpo da página ocupará 100% da janela de vizualização */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    /* centraliza o contêiner do formulário horizontalmente */
    padding: 50px;
    /* espaçamento interno em torno do conteúdo da página */
    background-color: #fff;
    /* define a cor de fundo */
    border-radius: 8px;
    /* aplica bordas arredondadas aos elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center; /* alinha o ítulo ao centro */
    margin-bottom: 20px; /* adiciona um espaço abaixo do título */
}

.container p {
    text-align: center;
    /* alinha o conteúdo do parágrafo ao centro */
    color: #555;
    /* define a cor do texto */
    margin-bottom: 20px;
    /* adiciona um espaço abaixo do parágafo */
}

label {
    display: block;
    margin-bottom: 8px;
    /* espaço de baixo */
}

input, select {
    width: 100%;
    /* define que os elementos ocupem toda a largura disponível */
    padding: 10px;
    /* adiciona um preenchimento */
    margin: 10px 0;
    border-radius: 4px;
    /* aplica bordas arredondadas aos elementos */
    border: 1px solid #ccc;
    /* define uma borda fina ao redor dos elementos */
    font-size: 16px;
    /* define o tamanho da fonte para o texto */
}

button {
    width: 100%;
    /* faz com que o botão ocupe toda a largura disponível */
    padding: 12px;
    /* adiciona um preenchimento dentro do botão */
    background-color: rgb(71, 132, 219);
    /* define uma cor de fundo para o botão */
    color: white;
    /* define a cor do texto */
    border: none;
    /* remove qualquer borda padrão do botão */
    border-radius: 4px;
    /* aplica bordas arredondadas ao botão */
    font-size: 16px;
    /* define o tamanaho da fonte dentro do botão */
    cursor: pointer;
    /* muda o cursor para uma mãozinha quando o mouse passa sobre o botão */
}

button:hover {
    background-color: #005bb5;
    /* quando passa o mouser por cima do botão, a cor defundo é alterada */
    transition: 0.3s;
    /* aplica uma transição para a mudança de cor */
}

.form-container {
    padding: 20px;
    /*adicona um preenchimento*/
    background-color: #fff;
    /*define a cor de fundo*/
    border-radius: 8px;
    /*adiciona uma borda arredondada*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-link {
    text-align: center;
    /*alinha ao centro*/
    margin-top: 20px;
    /*espaço de cima*/
}

.login-link a {
    color: #007BFF;
    /*cor do texto*/
    text-decoration: none;
    /*tira o sublinhado*/
}


