@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    /**/
    margin: 0;
    /**/
    box-sizing: border-box;
    /**/
    text-decoration: none;
    /**/
    list-style: none;
    /**/
    font-family: "Raleway", sans-serif;
    /**/
}


html {
/**/
    width: 100%;
    /**/
    height: 100vh;
    /**/
}

.section-ouvidoria-top {
    width: 100%;
    padding: 50px;
}
.section-ouvidoria-top h2 {
    font-size: 2.5em;
}
.section-ouvidoria-top p {
    font-size: 1.2em;
    align-items: center;
}

.div-container {
/**/
    width: 80%;
    /**/
    margin: 20px auto;
    /**/
    padding: 20px;
    /**/
    background-color: white;
    /**/
    border-radius: 8px;
    /**/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.63);
    /**/
}


.form-group {
/**/
    margin-bottom: 15px;
    /**/
}


.form-group label {
/**/
    font-weight: bold;
    /**/
}


input[type="text"], input[type="email"], textarea {
/**/
    width: 100%;
    /**/
    padding: 10px;
    /**/
    margin-top: 5px;
    /**/
    border: 1px solid #ccc;
    /**/
    border-radius: 4px;
    /**/
}


textarea {
/**/
    resize: vertical;
    /**/
    height: 150px;
    /**/
}


button {
/**/
    background-color: #2e3d49;
    /**/
    color: white;
    /**/
    padding: 10px 20px;
    /**/
    border: none;
    /**/
    border-radius: 4px;
    /**/
    cursor: pointer;
    /**/
    font-size: 16px;
    /**/
}
#contato {
    padding: 50px;
    font-size: 1.2em;
}


button:hover {
/**/
    background-color: #4c5c6e;
    /**/
}