@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
/* chamando tudo no site para estilizar*/

    padding: 0;
    /* zerando o padding */

    margin: 0;
    /* zerando a margin */

    box-sizing: border-box;
    /* não calcule bordas e margens com altura e largura */

    text-decoration: none;
    /* Removendo Decoração de texto */

    list-style: none;
    /* Removendo estilo de lista */

    font-family: "Raleway", sans-serif;
    /* Font Family Padrão da Doctor Web */

}


html {
/*Chamando html para ficar responsivo*/

    width: 100%;
    /* Largura Resposiva */

    height: 100vh;
    /* Altura Responsiva */

}
main{
/* chamai diretamente meu conteudo principal da pagina para dar uma cor de fundo */

    background-color: #f7f4e8;
    /* Cor de fundo */

}



/*============================= Section 1 ======================*/
.section-ouvidoria-top {
/* chamando a section top para estilizar*/

    width: 100%;
    /*deixando largura responsiva*/

    padding: 50px;
    /* altura em 50px*/

}
.section-ouvidoria-top h1 {
/* chamando h1 da section top*/

    font-size: 3em;
    /* aumentando o tamanho da letra*/

    text-align: center;
    /* centralizando o texto*/

}
.section-ouvidoria-top p {
/* chamando o paragrafo dentro da section top para estilizar */

    font-size: 1.2em;
    /* Aumentando o tamanho do paragrafo*/

    text-align: center;
    /* Deixando no centro da tela*/

}
/*=========================== Fim da Section 1 ======================*/






/*============================= Section 2 ======================*/
.div-container {
/* chamei diretamente meu container da Section 2 */

    width: 80%;
    /* largura em 80% da tela */

    margin: 20px auto;
    /* defininso altura em 20px e largura automatico */

    padding: 20px;
    /* Colocando um preenchimento de 20px */

    background-color: white;
    /* cor de fundo branco */

    border-radius: 8px;
    /*Arredondando a borda em 8px */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.63);
    /* sombreamento da caixa */

}


.form-group {
/* div que esta guardando as label, input e textarea */
    margin-bottom: 15px;
    /* Dando um espaçamento para baixo de cada label, input e textarea */
}


.form-group label {
/* especificando */
    font-weight: bold;
    /* aumentando a intensidade da fonte */
}


input[type="text"], input[type="email"], textarea {
/* Chamando os input (text) e input (email) e as textarea para estilizar todas ao mesmo tempo */

    width: 100%;
    /* largura em 100% */

    padding: 10px;
    /* espaçamento em 10px */

    margin-top: 5px;
    /* dando espaso em cima de 5px */
    border: 1px solid #ccc;
    /* deixando a borda em 1px para ficar mais fino   solid = ("usei para deixar visivel") e o utimo a cor para ficar não muito chamativo */
    
    border-radius: 4px;
    /* colocando a borda mais arredondada */
}


textarea {
/* chamando especificamente a textarea*/

    resize: vertical;
    /**/

    height: 150px;
    /**/
}


button {
/**/
    background-color: #2e3d49;
    /**/
    color: white;
    /**/
    padding: 10px 20px;
    /**/
    border: none;
    /**/
    border-radius: 4px;
    /**/
    cursor: pointer;
    /**/
    font-size: 16px;
    /**/
}
.contato {
    padding: 50px;
    font-size: 1.2em;
}
.contato h2 {
    font-size: 3em;
    text-align: center;
}
.contato p {
    text-align: center;
}

button:hover {
/**/
    background-color: #4c5c6e;
    /**/
}